/* :root {
    font-size: calc(1em + 1vw);
} */


#display {
    border-width: 2px;
    border-style: solid;
    border-color: black;
    height: 5vh;
    margin-bottom: 1vh;
    padding: 1em;
}

#keyboard {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.key {
    flex-basis: 19%;
    height: 5vh;
}